*{
  font-family: "'Poppins', Arial, sans-serif";
}
.box {
  margin: 0 auto;
  /* margin-top: 10px; */
  margin-bottom: 21px;
  background: #fafafa;
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 #eaeaea;
  width: 132px;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #eaeaea;
  /* background-color: #111; */
  padding: 15px 20px;

}

.box-title {
  font-weight: 600;
  font-size: 13pt;
  color: #111;
  margin-bottom: 24px;
  letter-spacing: 1px;
/* background-color: #111; */
}
