* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' !important;
}

.header {
  background-color: #724E9E26;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin: 0 auto;

}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 200px;
}

.logo {
  width: 80%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {

  font-size: 32px;
  font-weight: 600;
  /* color: #6e4e9f; */
}