.report {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210mm;
    height: 297mm;
    border: 1px solid gray;
    position: relative;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-between;
    /* background-color: violet; */
    height: fit-content;
    /* height: 500mm; */
    align-items: baseline;

}


.firstpage {
    /* background-color: aqua; */
    background-image: url("/background2.png");
    background-size: cover;
    width: 100%;
    height: 297mm;

    display: flex;
    align-items: end;
    padding-bottom: 180px;
    padding-left: 50px;
}

.firstpage h1 {
    font-size: 50px;
    color: #6e4e9f;
    margin: 0;
    font-weight: 700;
}

.firstpage h2 {
    font-size: 16pt;
    color: #fff;
    background-color: #6e4e9f;
    width: fit-content;
    padding: 0px 20px;
    border-radius: 50px;
    margin: 0;
    font-weight: 700;
}

.firstpageinfo {
    margin-top: 20px;
    color: #111;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}

.firstpageinfo div {
    display: flex;
    gap: 10px;
}


.downloadbutton {
    position: absolute;
    z-index: 100;
    /* top: 85vh; */
    left: 14mm;
    bottom: 30mm;
}

#downloadButton {
    border: none;
    background-color: #6e4e9f;
    color: white;
    padding: 10px 80px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.secondpage {
    /* background-color: #6e4e9f; */
    padding: 0 20px;
}


@media (max-width: 760px) {
    .report {
        /* zoom: 0.4; */
        display: block;
    }
}