*{
  margin: 0;
  padding: 0;
}

.header {
  background-color: #724E9E26;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 80%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Poppins';
  font-size: 34px;
  font-weight: bold;
  color: #6e4e9f;
} 